# services:
#   backend:
#     build: ./server
#     env_file:
#       - ./server/.env
#     ports:
#       - '3000:3000'
#     restart: unless-stopped
#     healthcheck:
#       test: ['CMD', 'wget', '--spider', '-q', 'http://localhost:3000/health']
#       interval: 30s
#       timeout: 5s
#       retries: 3

#   frontend:
#     build:
#       context: ./client

#     ports:
#       - '8080:80'
#     depends_on:
#       - backend
#     restart: unless-stopped

services:
  backend:
    build: ./server
    container_name: shopify-backend
    env_file:
      - ./server/.env
    ports:
      - '3000:3000'
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'wget', '--spider', '-q', 'http://localhost:3000/health']
      interval: 30s
      timeout: 5s
      retries: 3

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: ''
    container_name: shopify-frontend
    ports:
      - '8080:80'
    depends_on:
      - backend
    restart: unless-stopped
